<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CodePen - 植物判定.js</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/css/bootstrap.min.css'>
    <link rel="stylesheet" href="../css/plant.css">

</head>
<body>
<!-- partial:index.partial.html -->
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>植物判定</title>
</head>
<body>
<!-- 全体をVue.js有効にする -->
<div class="container text-center p-3 mb-2 bg-dark text-white" id="app">
    <!-- タイトル行 -->
    <div class="row my-3">
        <div class="col-sm-6 mx-auto"><h1>植物判定アプリ</h1></div>
    </div>

    <div class="info">
        <p>
            育て方を知りたい植物を<br>カメラに写して数秒待ってください<br>
        </p>
    </div>

    <!--今日を含め3日間の天気を表示 -->
    <div class="col-sm-6 mx-auto" id="wether">
        <dl v-for="obj01 in object">
            {{ obj01.date }}：{{ obj01.weather }}<br>
            {{ obj01.min_temperature }}℃ ~ {{ obj01.max_temperature }}℃<br><br>
            <img v-bind:src=obj01.image>
        </dl>
    </div>

    <!--   植物判定 -->
    <div class="col-sm-6 mx-auto" id="judge">
        <div class="input-group-append">
            <button @click="startCamera" 　class="btn btn-outline-success" type="button" id="button-addon2">
                {{ recogButton }}
            </button>
        </div>
        <div class="input-group-append">
            <input ref="file" class="file-button" type="file" @click="startImage"/>
            <img class="user-photo-image" :src="value"/>
        </div>
    </div>
    <br>
    <div>
        <video id="webcam" width="160" height="160" muted autoplay playsinline></video>
    </div>
    <div>
        <p id="error" v-show="error">{{ error }}</p>
        <label>
            <p>クリックで画像を変更できます。</p>
            <img :src="avatar" alt="Avatar" class="image" id="are">
            <div>
                <input
                    type="file"
                    id="avatar_name"
                    accept="image/jpeg, image/png"
                    @change="onImageChange"
                />
            </div>
        </label>
        <button @click="startImage()">アップロード</button>
        <p>{{ message }}</p>
    </div>

    <div class="col-sm-6 mx-auto" id="plant-name">
        <dl v-for="obj02 in myPlant">
            <h5>{{ obj02.name }}</h5><br>
    </div>
    <div class="col-sm-6 mx-auto" id="plant-info">
        <dl v-for="obj03 in myPlant">
            ＜越冬温度＞<br>
            {{ obj03.temperature }}<br><br>
            ＜水＞<br>
            {{ obj03.water }}<br><br>
            ＜光＞<br>
            {{ obj03.light }}<br><br>
            ＜コメント＞<br>
            {{ obj03.comment }}<br>
        </dl>
    </div>
</div>
</body>
</html>
<!-- partial -->
<script src='https://unpkg.com/ml5@latest/dist/ml5.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js'></script>
<script src="../js/plant.js"></script>
</body>
</html>
